body, html {
    margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.blurbg {
  background-image: url("hero-blur.png");
  padding: 50px 0px 0px 0px;
  background-position: center;
  background-size: cover;
}

.rounded-back {
  width: 80%;
  height: 85%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 65px;
  position: relative;
  border: 2px rgba(245, 66, 66, 0.5) solid;
}

.nav-bar {
  height: 50px;
  background-color: transparent;
  color: rgb(194, 194, 194);
  text-align: center;
  padding: 20px 20px;
}

li:hover {
  color: black;
  transition: all 0.5s;
  cursor: pointer;
}

.nav-bar-logo {
  float: left;
}

.logo {
  width: 120px;
}

ul {
  display: inline-block;
  padding: 0;
}

li {
  list-style: none;
  float: left;
  display: block;
  padding: 20px 30px;
}

.red-button {
  padding: 20px;
  border-radius: 50px;
  float: right;
  background-color: rgb(245, 66, 66);
  box-shadow: 0px 10px rgb(148, 41, 41);
}

.resume {
  display: block;
  text-decoration: none;
  color: white;
}

.resume:active {
  box-shadow: none;
  position: relative;
  top: 7px;
}

.main-text {
  text-align: right;
  position: absolute;
  top: 10%;
  left: 30%;
  font-size: 7vw;
  padding: 40px 40px 0px 40px;
  line-height: 100px;
  margin-right: 10px;
}

.items{
  padding: 0px;
  margin: 0px;
}

@media (max-width: 1000px) {
  .main-text {
    line-height: 70px;
  }
}

@media (max-width: 840px) {
  li {
    padding: 10px;
  }

  .logo {
    width: 100px;
    padding: 2px;
  }
  .model {
    width: 250px;
  }

  .red-button {
    padding: 10px;
    box-shadow: 0px 5px rgb(148, 41, 41);
  }

  .main-text {
    line-height: 60px;
  }
}

@media (max-width: 692px) {
  .main-text{
    font-size: 6.5vw;
    line-height: 40px;
  }

  .model{
    width: 190px;
  }
}

@media (max-width: 642px) {
  .logo{
    width: 20%;
  }

  .nav-bar-logo{
    float: none;
    margin: 0 auto;
    padding: 0px;
  }

  .main-text{
    top: 40%;
      padding: 20px;
  }

  .resume{
    float: none;
    width: 25vw;
    margin: 0 auto;
  }

  .model{
    padding-top: 50px;
    padding-left: 20px;
    width: 150px;
  }
}

@media (max-width: 435px) {
  .model{
  display: block;
  padding: 120px 0px 0px 0px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  }

  .main-text{
    position: inherit;
    float: none;
    left: 0;
    padding: 0px 20px;
    text-align: center;
  }

  .logo{
    width: 40%;
    float: none;
  }
}
